@font-face {
    font-family: pixel;
    src: url(../Nintendo/Commodore\ Pixelized\ v1.2.ttf);
  }


@font-face {
    font-family:nintendo;
    src: url(../Nintendo/Pretendo.ttf);
}


@font-face {
    font-family:mario;
    src: url(../Nintendo/SuperMario256.ttf);
}

@font-face {
    font-family:zelda;
    src: url(../Nintendo/Triforce.ttf);
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-image: url(../Nintendo/zeldabackground.png);
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.logo{
    width: 175px;
    height: 80px;
    margin-left: 20px;
}
.container{
    display: flex;
}
.menu{
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.paginas{
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
    position: relative;
}
.paginas::before
{
    content:" ";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color:aliceblue;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform.3s ease-in-out;
}

.paginas:hover::before{
    transform: scaleX(1);
}
h1{
    color: aliceblue;
    font-family:zelda;
    text-align: center;
    text-shadow: 0 0 10px #2aad26df, 0 0 20px #035816, 0 0 30px #1d9410, 0 0 40px #003200, 0 0 70px #0da93c, 0 0 80px #002a04, 0 0 100px #003409, 0 0 50px #002704da;
    font-size: 50px;
}


footer{
    display: flex;
    flex-direction: row;
    height: 220px;
    background-image: url(../Nintendo/footerZELDA.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logofooter{
    width: 175px;
    height: 80px;
    margin-left: 20px;
    margin-top: 8px;
}
.containertext{
    margin-top: 20px;
    margin-left: 65%;
    width: 350px;
    height: 130px;

    border-radius: 5px;
    padding-left: 6px;
    padding-right: 3px;
}

h4{
    margin-bottom: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    border-radius: 5px;
    width: fit-content;
}
h5{
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    border-radius: 5px;
    width: fit-content;
}
.a{
    width: 230px;
    height: 25px;
    border: 2px;
    border-radius: 10px;
}
.b{
    width: 30px;
    height: 25px;
    border: 2px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.zeldalogo{
display: flex;
align-items: center;
justify-content: center;



}

.textozelda{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mariofoto{
    position: fixed;
    top: 0;
    right: 0;
    max-width: 200px;
    max-height: 200px;
   
}

.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-image {
    width: 250px; 
    height: 290px;
    border-radius: 25px;
}

.mario-text {
    width: calc(100% - 220px); 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

p{
    text-align:left;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #001206c1;
    border-radius: 5px;
    width: fit-content;
    font-size: 20px;
    padding: 10px;
}
.conjunto1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
   
}
.foto1{
    width: 400px;
    height: 380px;
    border-radius: 15px;
    margin-left: 40px;
}

.conjunto2{
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.foto2{
    width: 400px;
    height: 320px;
    border-radius: 15px;
    margin-right: 40px;
}
.conjunto3{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.foto3{
    width: 400px;
    height: 320px;
    border-radius: 15px;
    margin-left: 40px;
}
.conjunto4{
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.foto4{
    width: 450px;
    height: 400px;
    border-radius: 15px;
    margin-right: 40px;
}
.bola1, .bola2, .bola3, .bola4{
    width: 120px;
    height: 120px;
    border: 5px solid ;
    border-color:  #319e20;
    border-radius: 50%;
    margin-top: 20px;
}
.bola1{
    margin-left: 33%;
    margin-right: 15px;

    
}
.bola2{
    margin-right: 15px;
}
.bola3{
    margin-right: 15px;
}
.text1, .text2, .text3, .text4{
    display: inline;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}
.text1{
    margin-left: 35%;
    margin-right: 5%;
}
.text2{
    margin-right: 4.6%;
}
.text3{
    margin-right: 0.2%;
}

.text4{
    margin-left: 3.5%;
}
.conjunto5{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.conjunto6{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.foto6{
    width: 400px;
    height: 480px;
    border-radius: 5px;
    margin-left: 40px;
}

.personagens{
    font-family: mario;
    color: white;
    text-align: center;
}
