@font-face {
    font-family: xbox;
    src: url(X360.ttf)
}
h1
{
    font-family: xbox;
}
*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: linear-gradient(to left, green, white);
}