@font-face {
    font-family: xbox;
    src: url(X360.ttf)
}
main
{
    display: flex;
    justify-content: center;

}
h1
{
    background-color: black;
    color: white;
    font-family: xbox;
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px green;
    width: 100px;
    margin: 0px auto;
 
}
body
{
    background-image: linear-gradient(to left, rgb(0, 255, 51), white);
}
article
{
    border-radius: 90px;
    text-align: center;
    justify-content: center;
    background-color: rgb(164, 245, 188);
    
}